streamlit

langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface

llama-index

sentence-transformers
transformers
torch

chromadb

pypdf

ollama

python-dotenv

tiktoken

unstructured

protobuf

accelerate
einops